
<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
<form id="signup" name="signup" method="post" action="/signup">
  <label for="email">Email Address</label>
  <input class="text" name="email" type="email" required="true"/>
  <label for="fullName">Full Name</label>
  <input name="fullName" type="text" required="true"/>
  <label for="userName">User Name</label>
  <input name="userName" type="text" required="true"/>
  <label for="password">Password</label>
  <input name="password" type="password" required="true"/>
  <input class="btn" type="submit" value="Sign Up" />
</form>

</body>
</html>